*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(24,24,24);
    scroll-behavior: smooth;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.webgl:hover {
    transform: rotate(15deg);
}

.container {
    display: grid;
    height: 100vh;
    place-items: center;
}

h1 {
    color: white;
    font-size: 5vw;
    position: relative;
}

span {
    background: rgb(255,42,84);
    background: linear-gradient(90deg, rgba(255,42,84,1) 8%, rgba(121,9,118,1) 63%, rgba(63,0,176,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    border-left: transparent;
}

h2 {
    color: white;
    font-size: 3vw;
    transition: all 0.3s linear;
}

h2:hover {
    transition: all 0.3s linear;
    background: rgb(255,42,84);
    background: linear-gradient(90deg, rgba(255,42,84,1) 8%, rgba(121,9,118,1) 63%, rgba(63,0,176,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2:hover span {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s linear;
    font-size: 3.5vw;
    cursor: pointer;
}
